node_modules/
pnpm-lock.yaml
.turbo/
dist/
.env*
.vscode/
.DS_Store
npm-debug.log*
*.log

__pycache__/
log*.txt
cookie.json
cookie_backup*.json
session_dump.json
media/
flow_meta.json
gen.json
playwright-data/
browser_data/
backend/my-ai-460612-c375c19c0b1d.json
backend/.env
.kiro
.env.local
my-ai-460612-c375c19c0b1d (2).json