node_modules/
pnpm-lock.yaml
.turbo/
dist/
.env*
.vscode/
.DS_Store
npm-debug.log*
*.log

__pycache__/
log*.txt
cookie.json
session_dump.json
media/
flow_meta.json
gen.json

backend/my-ai-460612-c375c19c0b1d.json
.kiro